@model Student

<h3 class="text-success">@Model.Name</h3>
<h3 class="text-success">@Model.Location</h3>
<h3 class="text-success">@Model.FavoriteLanguage</h3>
<h3 class="text-success">@Model.Comment</h3>

